html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

*{
    margin: 5px 3px;
    padding: 0;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header p{
    margin-top: 30px;
   text-align: center;
   width: 50%;
}

#navigation li{
    text-align: center;
}

#asides{
    display: flex;
    gap: 30px;
}

.aside-one{
    text-align: left;
}

.aside-two{
    text-align: right;
}

p{
    text-align: justify;
    margin: 10px 15px;
}

@media screen and (min-width: 768px) {
    *{
        font-size: 1.05em;
    }
    header p {
        font-size: 30px;
        font-weight: bolder;
    }
    #navigation ul{
        display: flex;
        gap: 20px;
        font-size: 20px;
    }
    #asides{
        justify-content: space-around;
    }
    p{
        margin: 15px 50px;
    }
}