ol li:nth-child(odd){
    text-transform: uppercase;
}

ol li:nth-child(even){
    color: green;
}

ol li {
    color: yellow;
}

.header {
    color: red;
}

.header em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

#languages li:not(:nth-child(n + 4)) {
    color: blue;
}

.color-bg {
    background-color: pink;
}

#aliados li:hover a:hover {
    font-weight: bold;
}

#aliados li:hover a[href*="stackoverflow"] {
    color: orange;
}	

#aliados li:hover a[href*="w3schools"] {
    color: green;
}	

#aliados li:hover a[href*="mozilla"] {
    color: black;
}	

#aliados li:hover a[href*="devdocs"] {
    color: yellow;
}	

#aliados li:hover a[href*="betrybe"] {
    color: green;
}	

#aliados li a {
    text-decoration: none;
}