*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(/assets/background.svg);
  font-family: 'Fira Code', monospace;
}

main{
  color: white;
  width: 70%;
  margin: auto;
}

h1{
  font-weight:900;
  font-size: 56px;
  margin-top: 70px;
}

span{
  color: #95EBA8;
}

.config-sec{
  margin: 40px 0;
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

#choose-coin{
  border: none;
  width: 171px;
  height: 48px;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
}

.digit-div p{
  font-size: 10px;
  margin-bottom: 8px;
}

#search{
  width: 171px;
  height: 48px;
  background: #96EB95;
  border: 1px solid #96EB95;
  border-radius: 10px;  
  cursor: pointer;
}

#coin-table{
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  width: 100%;
  height: 60vh;
  padding: 20px 30px 40px;
  display: flex;
  flex-direction: column;
}

#dinamic-text{
  margin-bottom: 40px;
  text-align: center;
}

#dinamic-list{
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 0;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: rgb(47, 47, 47);
  border-radius: 10px;
}

#dinamic-list div{
  display: flex;
  margin: auto;
  min-width: 150px;
  max-width: fit-content;
  height: 44px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}

#dinamic-list img{
  width: 10%;
}

#dinamic-list p{
  width: 30px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

#dinamic-list p:nth-child(3){
  text-align: end;
  flex-grow: 1;
  width: 40px;
  height: 16px;
  color: #FFE713;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;

  overflow:hidden;
  text-overflow: ellipsis;
}


@media (max-width: 675px) {
  h1{
    text-align: center;
  }
}