.super-mario {
    width: 200px;
    top: 50px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 350px;
    left: 65px;
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    top: 30px;
    left: 310px;
  }
  
  .speach {
    font-size: 25px;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 110px
  }

  p {

  }